<fieldset class="section-design container">
  <div class="selection hidden-content">
    <h3 class="selection__title">Colores</h3>
    <div class="selection__options">
      <label for="coloroption1" class="selection__options--pallete">
        <input
          id="1"
          type="radio"
          value="1"
          name="pallete"
          class="selection__options--input js-colorOption js-palleteDefault"
          checked
        />
        <div class="pallete pallete__cold1"></div>
        <div class="pallete pallete__cold2"></div>
        <div class="pallete pallete__cold3"></div>
      </label>
      <label for="coloroption2" class="selection__options--pallete">
        <input
          id="2"
          type="radio"
          value="2"
          name="pallete"
          class="selection__options--input js-colorOption"
        />
        <div class="pallete pallete__hot1"></div>
        <div class="pallete pallete__hot2"></div>
        <div class="pallete pallete__hot3"></div>
      </label>
      <label for="coloroption3" class="selection__options--pallete">
        <input
          id="3"
          type="radio"
          value="3"
          name="pallete"
          class="selection__options--input js-colorOption"
        />
        <div class="pallete pallete__mix1"></div>
        <div class="pallete pallete__mix2"></div>
        <div class="pallete pallete__mix3"></div>
      </label>
    </div>
  </div>
</fieldset>
